#page1{
	background: url('../images/1.png') no-repeat left top;
	background-size: 100% 100%;
}
#page2{
	background: url('../images/2.png') no-repeat left top;
	background-size: 100% 100%;
}
#page3{
	background: url('../images/3.png') no-repeat left top;
	background-size: 100% 100%;
}
#page4{
	background: url('../images/4.png') no-repeat left top;
	background-size: 100% 100%;
}
#page5{
	background: url('../images/5.png') no-repeat left top;
	background-size: 100% 100%;
}
#page6{
	background: url('../images/6.png') no-repeat left top;
	background-size: 100% 100%;
}
#page7{
	background: url('../images/7.png') no-repeat left top;
	background-size: 100% 100%;
}
#page8{
	background: url('../images/8.png') no-repeat left top;
	background-size: 100% 100%;
}
#page9{
	background: url('../images/9.png') no-repeat left top;
	background-size: 100% 100%;
}
#page10{
	background: url('../images/10.png') no-repeat left top;
	background-size: 100% 100%;
}

/* 第二页 */

#page2 img.shadow{
	width: 100%;
	height: 100%;
	z-index: 2;
}
#page2 img.com_circle{
	width: 11rem;
	height: 11rem;
	z-index: 5;
	top: 8rem;
	left: 2rem;
}
#page2 p.step01{
	width: 8rem;
	height: 8rem;
	word-wrap: wrap;
	top: 9.6rem;
	left: 3.7rem;
	font-size: 1.6rem;
	color: #fff;
	z-index: 8;
	text-align: center;
}
.step01 span{
	display: block;
}
#page2 .step_bar01{
	position: absolute;
	right: 3rem;
	top: 18rem;
	z-index: 8;
	font-weight: 800;
}
.step_bar01 img,
.step_bar02 img{
	width: 150px;
	height: 28px;
}
.step_bar01 span,
.step_bar02 span,
.step_bar03 span{
	position: absolute;
	left: 24px;
	top: -3px;
	font-size: 27px;
	z-index: 8;
}
.step_bar01 p,
.step_bar02 p{
	width: 135px;
	font-size: 1.1rem;
	font-weight: 50;
	color: #000;
}
#page2 .step_bar01 p.p01{
	top: 2.5rem;
}
#page2 .step_bar01 p.p02{
	top: 5.8rem;
}

#page2 .step_bar02{
	position: absolute;
	left: 3rem;
	top: 30rem;
	z-index: 8;
	font-weight: 800;
}
#page2 .step_bar02 p{
	width: 175px;
}
#page2 .step_bar02 p.p01{
	top: 2.6rem;
}
#page2 .step_bar02 p.p02{
	top: 4.2rem;
}
#page2 .step_bar02 p.p03{
	top: 7.5rem;
}